{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block title %}Locations{% endblock %}

{% block content %}
<h4 class="text-center">Locations</h4>
<div class="row">
  <div class="col-3">
    <strong>Name</strong>
  </div>
  <div class="col-3">
    <strong>Alias</strong>
  </div>
  <div class="col-6">
    <strong>Address</strong>
  </div>
</div>
<hr>
{% for location in location_list %}
<div class="row">
  <div class="col-3">
    {{ location.name }}
  </div>
  <div class="col-3">
    {{ location.alias }}
  </div>
  <div class="col-3">
    {{ location.address }}
  </div>
</div>
<hr>
{% endfor %}
{% endblock %}
